# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so

# Virtual Environment
venv/
env/
.venv/
ENV/

# PyCharm
.idea/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment variables
.env
*.env

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# VSCode
.vscode/

# System files
.DS_Store
Thumbs.db
